.character {
  position: absolute;
  left: 10px;
  height: 70vh;
  top: -75px;
  .body, .armor, .left-hand, .right-hand, .stone, .head {
    position: absolute;
  }
  .body {
    height: 70vh;
  }
  .right-hand {
    width: 35vh;
    top: 58%;
    left: -8vh;
    transform: rotateZ(150deg);
  }
  .left-hand {
    width: 35vh;
    top: 20%;
    left: 47vh;
    transform: rotateZ(5deg);
  }
}
