@import 'colors';

.game-title {
  font-size: 3.6em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 250px;
  margin-top: 0;
}
.goTosignup {
  border-radius: 30px;
  padding: 15px 70px;
  background-color: @background-color;
  border: 2px solid @neon-blue;
  box-shadow: 0 0 15px 1px fade(@neon-blue, 20);
  color: @neon-blue;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  margin-left: 50%;
  transform: translate(-50%, 0);
}
.linkBtn {
  cursor: pointer;
  background: transparent;
  border: 0;
  color: #FFF;
  outline: none;
  margin-top: 30px;
  font-size: 1em;
  margin-left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  border-bottom: 1px solid @neon-blue;
}

.login {
  float: right;
  margin-right: 350px;
  .linkBtn {
    width: 100%;
  }
}
.signup {
  float: right;
  margin-right: 150px;
  position: relative;
  .linkBtn {
    width: 100%;
  }
  .race {
    position: absolute;
    width: 240px;
    left: -250px;
    top: 50px;
    div {
      float: left;
      width: 100px;
      margin: 10px;
      height: 100px;
    }
    input {
      position: absolute;
      opacity: 0;
      width: 100px;
      height: 100px;
      cursor: pointer;
    }
    input:checked + label {
      border: 1px solid @neon-blue;
      box-shadow: 0 0 15px 1px fade(@neon-blue, 20);
    }
    label {
      transition: all 0.25s ease-out;
      height: 100%;
      width: 100%;
      display: block;
      border: 1px solid #FFF;
      border-radius: 3px;
      img {
        width: 50px;
        margin-left: 25px;
        margin-top: 15px;
      }
      p {
        margin-top: 10px;
        text-align: center;
        font-size: 0.8em;
        letter-spacing: 2px;
        color: @neon-blue;
      }
    }
  }
}
.login-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 5px;
}
.text-label {
  display: block;
  margin-top: 10px;
  font-size: 0.8em;
  letter-spacing: 2px;
  color: @neon-blue;
}
.text-input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #FFF;
  height: 40px;
  font-size: 1.2em;
  border-bottom: 1px solid @light-blue;
  width: 100%;
}
.loginBtn {
  border-radius: 30px;
  padding: 10px 100px;
  margin-top: 25px;
  background-color: @background-color;
  border: 2px solid @neon-blue;
  color: @neon-blue;
  outline: 0;
  font-size: 20px;
  cursor: pointer;
}




