<head>
  <title>zombie-game</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
</head>

<body>

    {{> router}}

</body>

<template name="router">
  {{#if currentUser }}
    {{#if currentLocation}}
      {{> hello}}
    {{else }}
      {{>city}}
    {{/if}}
  {{else }}
    {{#if goToSignup}}
      {{> signup}}
    {{else }}
      {{>login}}
    {{/if}}
  {{/if}}
</template>
