<template name='inventory'>
  <div class='main'>
    <img class='character' src='/images/stickman.png' />
    <div class='inventory-template'>
      <div class='item armor'>
        <p class='label'>Armor</p>
        <p class='name'>Rhino Prime</p>
        <div class='select-box selected'>
          <div class='image'>
          </div>
          <div class='characteristic'>
            <span data-label='Corpus'>1205</span>
          </div>
          <div class='characteristic'>
            <span data-label='Corpus'>1205</span>
          </div>
          <div class='characteristic'>
            <span data-label='Corpus'>1205</span>
          </div>
        </div>
      </div>
      <div class='item right-hand'>
        <p class='label'>Right Hand</p>
        <p class='name'>Bolter Prime</p>
        <div class='select-box'>
          <div class='image'>
          </div>
          <div class='characteristic'>
            <span data-label='Corpus'>1205</span>
          </div>
          <div class='characteristic'>
            <span data-label='Corpus'>1205</span>
          </div>
          <div class='characteristic'>
            <span data-label='Corpus'>1205</span>
          </div>
        </div>
      </div>
      <div class='item left-hand'>
        <p class='label'>Left Hand</p>
        <p class='name'>Bolter Prime</p>
        <div class='select-box'>
          <div class='image'>
          </div>
          <div class='characteristic'>
            <span data-label='Corpus'>1205</span>
          </div>
          <div class='characteristic'>
            <span data-label='Corpus'>1205</span>
          </div>
          <div class='characteristic'>
            <span data-label='Corpus'>1205</span>
          </div>
        </div>
      </div>
      <div class='item head'>
        <p class='label'>Head</p>
        <p class='name'>Bolter Prime</p>
        <div class='select-box'>
          <div class='image'>
          </div>
          <div class='characteristic'>
            <span data-label='Corpus'>1205</span>
          </div>
          <div class='characteristic'>
            <span data-label='Corpus'>1205</span>
          </div>
          <div class='characteristic'>
            <span data-label='Corpus'>1205</span>
          </div>
        </div>
      </div>
      <div class='item stone'>
        <p class='label'>Magic Stone</p>
        <p class='name'>Bolter Prime</p>
        <div class='select-box'>
          <div class='image'>
          </div>
          <div class='characteristic'>
            <span data-label='Corpus'>1205</span>
          </div>
          <div class='characteristic'>
            <span data-label='Corpus'>1205</span>
          </div>
          <div class='characteristic'>
            <span data-label='Corpus'>1205</span>
          </div>
        </div>
      </div>
    </div>
    <div class='clearfix'></div>
  </div>
</template>
