<template name="landing">
  {{#if show_login}}
    {{> login}}
  {{else}}{{#if show_signup}}
    {{> signup}}
  {{else}}
    {{> home}}
  {{/if}}{{/if}}
</template>

<template name="home">
  <div class="game-title"><p>Computer Heroes</p></div>
  <button class='goTosignup'>Create an account</button>
  <button class='linkBtn goTologin'>Already got an account?</button>
</template>

<template name='login'>
  <div class="main">
    <div class='login'>
      <p class="login-title">Login</p>

      <form id='login'>
        <div>
          <label for='username' class='text-label'>Username</label><input type="text" id="username" class='text-input' />
        </div>
        <div>
          <label for='password' class='text-label'>Password</label><input type="password" id="password" class='text-input' />
        </div>
        <button class="loginBtn" type="submit">Go!</button>
      </form>
      <button class='linkBtn back'>Back to the home page</button>
    </div>
  </div>
</template>

<template name='signup'>
  <div class="main">
    <div class='signup'>
      <p class="login-title">Signup</p>

      <form id='signup'>
        <div>
          <label for='username' class='text-label'>Username</label><input type="text" id="username_signup" class='text-input'/>
        </div>
        <div>
          <label for='password' class='text-label'>Password</label><input type="password" id="password_signup" class='text-input' />
        </div>
        <div class='race'>
          <div>
            <input type="radio" name="playerClass" value="Warrior" id='warrior' checked />
            <label for='warrior'><img src='/images/hammer.svg' /><p>Warrior</p></label>
          </div>
          <div>
            <input type="radio" name="playerClass" value="Hunter" id='hunter'/>
            <label for='warrior'><img src='/images/bow.svg' /><p>Hunter</p></label>
          </div>
          <div>
            <input type="radio" name="playerClass" value="Thief" id='thief'/>
            <label for='warrior'><img src='/images/dagger.svg' /><p>Thief</p></label>
          </div>
          <div>
            <input type="radio" name="playerClass" value="Miner" id='miner'/>
            <label for='warrior'><img src='/images/pick.svg' /><p>Miner</p></label>
          </div>
        </div>
        <button class="loginBtn" type="submit">Create your Account</button>
      </form>
      <button class='linkBtn back'>Back to the home page</button>
    </div>
  </div>
</template>
