<template name='news'>
  <div class='main'>
    <div class='news-template'>
    <!-- explore news fight news achivement news clan news-->
      <!--<div class='creators-news'></div>-->
        <div class='news-section explore-news'>
          <p class='label'>news</p>
          <p class='value'>Explore</p>
          <div class='news-content'>
            {{#if exploreNewsList }}
              {{ #each exploreNewsList }}
                {{#if creation }}
                  <p class="news-data">{{ creation }}</p>
                {{/if}}
                <p><span>[{{ time }}]</span> {{ message }} </p>
              {{ /each }}
            {{ else }}
              <p class="news-data"></p>
              <p><span></span></p>
              <p>Nothing to do here... </p>
            {{/if}}
          </div>
        </div>
        <div class='news-section fight-news'>
          <p class='label'>news</p>
          <p class='value'>Fight</p>
          <div class='news-content'>
            {{#if exploreNewsList }}
              {{ #each exploreNewsList }}
                {{#if creation }}
                  <p class="news-data">{{ creation }}</p>
                {{/if}}
                <p><span>[{{ time }}]</span> {{ message }} </p>
              {{ /each }}
            {{ else }}
              <p class="news-data"></p>
              <p><span></span></p>
              <p>Nothing to do here... </p>
            {{/if}}
          </div>
        </div>
        <div class='news-section achievements-news'>
          <p class='label'>news</p>
          <p class='value'>Achievements</p>
          <div class='news-content'>
            {{#if exploreNewsList }}
              {{ #each exploreNewsList }}
                {{#if creation }}
                  <p class="news-data">{{ creation }}</p>
                {{/if}}
                <p><span>[{{ time }}]</span> {{ message }} </p>
              {{ /each }}
            {{ else }}
              <p class="news-data"></p>
              <p><span></span></p>
              <p>Nothing to do here... </p>
            {{/if}}
          </div>
        </div>
        <div class='news-section clan-news'>
          <p class='label'>news</p>
          <p class='value'>Clan</p>
          <div class='news-content'>
            <p class="news-data"></p>
            <p><span></span></p>
            <p> Coming soon...</p>
          </div>
        </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</template>
