<template name='news'>
  <div class='main'>
    <div class='news-template'>
    <!-- explore news fight news achivement news clan news-->
      <!--<div class='creators-news'></div>-->
        <div class='news-section explore-news'>
          <p class='label'>news</p>
          <p class='value'>Explore</p>
          <div class='news-content'>
            <p class="news-data">Sunday, 21 June 2015</p>
            <p><span>[15:20]</span> Minions ipsum gelatooo baboiii pepete me want bananaaa! </p>
            <p><span>[15:20]</span> Bee do bee do bee do tatata bala tu belloo! </p>
            <p class="news-data">Friday, 19 June 2015</p>
            <p><span>[15:20]</span> Poulet tikka masala bappleees bappleees.</p>
          </div>
        </div>
        <div class='news-section fight-news'>
          <p class='label'>news</p>
          <p class='value'>Fight</p>
          <div class='news-content'>
            <p class="news-data">Sunday, 21 June 2015</p>
            <p><span>[15:20]</span> Minions ipsum gelatooo baboiii pepete me want bananaaa! </p>
            <p><span>[15:20]</span> Bee do bee do bee do tatata bala tu belloo! </p>
            <p class="news-data">Friday, 19 June 2015</p>
            <p><span>[15:20]</span> Poulet tikka masala bappleees bappleees.</p>
            <p><span>[15:20]</span> Minions ipsum gelatooo baboiii pepete me want bananaaa! </p>
            <p><span>[15:20]</span> Bee do bee do bee do tatata bala tu belloo! </p>
            <p class="news-data">Friday, 19 June 2015</p>
            <p><span>[15:20]</span> Poulet tikka masala bappleees bappleees.</p>
            <p><span>[15:20]</span> Bee do bee do bee do tatata bala tu belloo! </p>
            <p class="news-data">Friday, 19 June 2015</p>
            <p><span>[15:20]</span> Poulet tikka masala bappleees bappleees.</p>
            <p><span>[15:20]</span> Bee do bee do bee do tatata bala tu belloo! </p>
            <p class="news-data">Friday, 19 June 2015</p>
            <p><span>[15:20]</span> Poulet tikka masala bappleees bappleees.</p>

          </div>
        </div>
        <div class='news-section achievements-news'>
          <p class='label'>news</p>
          <p class='value'>Achievements</p>
          <div class='news-content'>
            <p class="news-data"></p>
            <p><span></span></p>
            <p> Coming soon...</p>
          </div>
        </div>
        <div class='news-section clan-news'>
          <p class='label'>news</p>
          <p class='value'>Clan</p>
          <div class='news-content'>
            <p class="news-data"></p>
            <p><span></span></p>
            <p> Coming soon...</p>
          </div>
        </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</template>
