<template name='stats'>
  <div class='main'>
    <img class='character' src='/images/stickman.png' />
    <div class='stats-template'>
      <div class='characteristic'>
        <p class='label'>Health</p>
        <p class='value'>50</p>
        <p class='description'>bla bla bla</p>
      </div>
      <div class='characteristic'>
        <p class='label'>Defence</p>
        <p class='value'>0</p>
        <p class='description'>bla bla bla</p>
      </div>
      <div class='characteristic'>
        <p class='label'>Luck</p>
        <p class='value'>50</p>
        <p class='description'>bla bla bla</p>
      </div>
      <div class='characteristic'>
        <p class='label'>Strength</p>
        <p class='value'>10</p>
        <p class='description'>bla bla bla</p>
      </div>
      <div class='characteristic'>
        <p class='label'>Dexterity</p>
        <p class='value'>10</p>
        <p class='description'>bla bla bla</p>
      </div>
      <div class='characteristic'>
        <p class='label'>Speed</p>
        <p class='value'>10</p>
        <p class='description'>bla bla bla</p>
      </div>
    </div>
    <div class='clearfix'></div>
  </div>
</template>
